.ContentBox {
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
    padding: 16px 20px;
  }
  a:link {
    color: #fff;
    text-decoration: none;
  }
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  body {
    margin: 0;
  }
  nav {
    transition: all 50ms linear ;
    .nav {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      height: 80px;
      max-width: 1232px;
      margin: auto;
     
      .logo {
        .item {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 0;
          margin-right: 20px;
        }
        line-height: 80px;
        color: #fff;
        letter-spacing: -1px;
        font-weight: 600;
        font-size: 25px;
      }
      .navbar {
        display: flex;
        line-height: 80px;
        color: #fff;
        a {
          margin: 0 10px;
        }
      }
    }
  }
  .footer {
    width: 100%;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
    height: 48px;
    padding: 24px 0;
    box-sizing: content-box;
  }